<div id="content">
<div id="outer_quote">
  <div id="quote"></div>
  <%= image_tag("arrow-hi.png", :id => "next_arrow") %>
</div>
<div id="outer_author">
<div id="author"></div>
</div>

<div id="toolbar">
<!-- <button id="new_quote">New Quote</button> -->
</div>
</div>
